<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="users" class="users"></div>
    <script>
        fetch('http://127.0.0.1:8000/api/users')
            .then(response => response.json())
            .then(data => {
                const userList = document.getElementById('users');
                data.data.forEach(user => {
                    const li = document.createElement('li');
                    li.textContent = `${user.name} - ${user.email}`;
                    userList.appendChild(li);
                });
            })
            .catch(error => console.error('Lỗi:', error));
    </script>
</body>
</html>